body {
    display: flex;
    background: black;
    margin: 0;
}

h1 {
    height: 8vh;
    width: 29vw;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.4rem;
    text-align: center;
    padding: 5px;
    margin-top: 4rem;
    margin-left: 32rem;
    position: absolute;

}

.container {
    position: absolute;
    width: 95vw;
    height: 70vh;
    display: flex;
    margin-top: 10rem;
}

.container .bg-video {
    position: relative;
    margin-left: -4vh;
    height: 6ovh;
    width: 70vw;
}

.container .bg-video video {
    position: relative;
    margin-left: -5vh;
    height: 6ovh;
    width: 60vw;
}

.time {
    position: absolute;
    font-size: 50px;
    color: antiquewhite;
    font-family: 'DS-Digital', sans-serif;
    margin-left: 44vh;
    margin-top: -40vh;
}

@font-face {
    font-family: 'DS-Digital';
    src: url('fonts/DS-DIGIT.TTF') format('truetype');
}

.container .rays {
    position: absolute;
    width: 60vw;
    height: 50vh;
    margin-left: 82vh;
    margin-top: 13vh;
}

.ray {
    position: relative;
    top: 0rem;
    left: 0;
    width: 170px;
    height: 5px;
    background: linear-gradient(90deg, rgba(1, 1, 12, 0.968), rgba(32, 28, 147, 0.5), rgba(62, 147, 164, 0.5), rgba(62, 147, 164, 0.5), rgba(238, 238, 242, 0.81));
    animation: beat 1s linear infinite;
}

.ray:nth-child(1) {
    top: 5%;
    animation-delay: 0s;
}

.ray:nth-child(2) {
    top: 10%;
    animation-delay: 0.1s;
}

.ray:nth-child(3) {
    top: 15%;
    animation-delay: 0.2s;
}

.ray:nth-child(4) {
    top: 20%;
    animation-delay: 0.3s;
}

.ray:nth-child(5) {
    top: 25%;
    animation-delay: 0.4s;
}

.ray:nth-child(6) {
    top: 30%;
    animation-delay: 0.5s;
}

.ray:nth-child(7) {
    top: 35%;
    animation-delay: 0.6s;
}

.ray:nth-child(8) {
    top: 40%;
    animation-delay: 0.7s;
}

.ray:nth-child(9) {
    top: 45%;
    animation-delay: 0.8s;
}

.ray:nth-child(10) {
    top: 50%;
    animation-delay: 0.9s;
}

.ray:nth-child(11) {
    top: 55%;
    animation-delay: 1.1s;
}

.ray:nth-child(12) {
    top: 60%;
    animation-delay: 1.2s;
}

.ray:nth-child(13) {
    top: 65%;
    animation-delay: 1.3s;
}


@keyframes beat {

    0%,
    100% {
        width: 60vh;
    }

    50% {
        width: 100%;
    }
}
